.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient($color__gris__1, $color__gris__3);

    li {
        display: inline-block;
        padding: 10px;
    }

    .header__logo {
        height: 80px;

        img {
            height: 80px;
        }
    }

    .header__nav {
        display: flex;
        flex-direction: column;

        ul {
            display: none;
            margin-bottom: 0;

            &.show {
                display: flex;
                text-decoration: none;
                list-style-type: none;
                font-size: 18px;
                flex-wrap: wrap;
                padding-left: 0;
            }
        }

        a {
            border-radius: 5px;
            padding: 5px;
            text-decoration: none;
            color: $color__oscuro__1;
            font-weight: 600;

            &:hover {
                color: $color__claro__1;
                background-color: $color__claro__2;
            }
        }
    }

    .header__nav__icono {
        margin: 12px 0 7px;
        font-size: 20px;
        color: $color__oscuro__1;
        align-self: center;
        justify-self: center;
        font-size: 30px;
        line-height: 1;
        cursor: pointer;
    }
}