@media (min-width: 576px) {

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        .header__logo {
            padding: 0;
        }

        .header__nav {
            display: flex;
            flex-direction: row;
            text-decoration: none;
            list-style-type: none;
            padding-right: 20px;
            font-size: 18px;
            flex-wrap: wrap;

            ul {
                display: inline-block;
                flex-direction: row;
                text-decoration: none;
                list-style-type: none;
                font-size: 18px;
            }

            .header__nav__icono {
                display: none;
            }
        }
    }

    .container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 30px;

        p {
            width: 300px;
            font-size: 20px;
            font-weight: 600;
            text-align: center;
            margin-top: 20px;
        }

        .container__section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            padding: 20px;

            &:hover {
                scale: 1.1;
                transition: .2s;
            }

            .container__section__foto {
                width: 350px;
                height: 250px;
                margin: 20px 10px 0px;
                box-shadow: 0px 0px 20px 10px $color__verde__2;
            }
        }
    }

    .oficinas__container {
        display: grid;
        grid-template-areas:
            "oficinas__titulo oficinas__titulo"
            "oficinas__direccion oficinas__mapa";

        .oficinas__titulo {
            grid-area: oficinas__titulo;
            margin-bottom: 20px;
            font-size: 30px;
        }

        .oficinas__mapa {
            grid-area: oficinas__mapa;
            max-width: 650px;
            max-height: 400px;
        }

        .oficinas__direccion {
            margin-right: 15px;
            font-size: 20px;
            grid-area: oficinas__direccion;
        }
    }

    .quienesSomos {
        flex-direction: row;
    }

    .container__servicios {
        flex-direction: row-reverse;
        flex-wrap: nowrap;
    }

    .container__serviciosVerde {
        flex-direction: row;
    }

    .galeria__parrafo {
        margin: 0px;
        padding-top: 20px;
    }

}

@media (min-width: 1000px) {

    .quienesSomos {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-areas:
            "persona1 persona2";
        margin-top: 60px;

        .quienesSomos__grid {
            display: grid;
            height: 550px;
            grid-template-areas:
                "texto ."
                "texto foto"
                ". foto"
                ". nombre";
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-column-gap: 20px;
            grid-row-gap: 5px;
            align-items: center;

            .quienesSomos__foto {
                height: 25rem;
                grid-area: foto;
                align-self: flex-end;
                justify-content: center;
            }

            .quienesSomos__texto {
                grid-area: texto;
                width: 60%;
                height: 50%;
                align-self: flex-start;
                justify-self: flex-end;
                font-weight: 600;
                color: $color__oscuro__1;
            }

            .quienesSomos__nombre {
                grid-area: nombre;
                align-self: center;
                font-weight: 600;
                color: $color__oscuro__1;
            }
        }

        .persona1 {
            grid-area: persona1;
        }

        .persona2 {
            grid-area: persona2;
            background-color: $color__gris__4;
        }

    }

    .oficinas__container {
        grid-template-areas:
            "oficinas__titulo oficinas__titulo"
            "oficinas__direccion oficinas__direccion";

        .oficinas__mapa {
            display: none;
        }


    }


    .container__servicios {
        display: grid;
        grid-template-areas:
            "servicios__foto servicios__descripcion";
        align-items: center;
        justify-items: center;

        .container__servicios__descripcion {
            grid-area: servicios__descripcion;
            padding: 0;

            & p {
                margin-top: 20px;
                font-size: 1.3rem;
            }
        }

        .container__servicios__foto {
            max-width: 800px;
            max-height: 700px;
            width: 100%;
            height: 100%;
            object-fit: contain;
            grid-area: servicios__foto;
        }
    }

    .container__serviciosVerde {
        display: grid;
        grid-template-areas:
            "servicios__descripcion servicios__foto";

        .container__servicios__descripcion {
            grid-area: servicios__descripcion;
            padding: 0;

            & p {
                margin-top: 20px;
                font-size: 1.3rem;
            }
        }

        .container__servicios__foto {
            max-width: 800px;
            max-height: 700px;
            width: 100%;
            height: 100%;
            grid-area: servicios__foto;
        }
    }



}