.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;

    p {
        width: 200px;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        margin-top: 20px;
    }

    .container__section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 10px;

        .container__section:hover {
            scale: 1.1;
            transition: .2s;
        }
    }

    .container__section__foto {
        width: 250px;
        height: 150px;
        margin: 10px 10px 0px;
        box-shadow: 0px 0px 20px 10px $color__verde__2;
    }
}

.oficinas__container{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    margin-top: 20px;
    background-color: $color__verde__4;
    padding: 20px;

.oficinas__mapa{
    width: 100%;
    padding: 20px 0;

}

  .oficinas__direccion{
    font-size: 18px;
    font-weight: 400;
    background-color: $color__claro__1;
    border-radius: 10px;
    padding: 5px;
}
}



.quienesSomos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    .quienesSomos__grid {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: 100%;
        padding: 20px 0;

        .persona2 {
            background-color: $color__gris__1;
        }

        .quienesSomos__foto {
            height: 20rem;
            padding: 20px;

            &:hover {
                transform: rotateY(360deg);
                transition: 1s;
            }
        }

        .quienesSomos__texto {
            width: 60%;
            height: 50%;
            color: $color__oscuro__1;

            a {
                color: $color__oscuro__1;
                font-size: 1.4rem;

                &:hover {
                    color: $color__verde__1;
                }
            }

        }

        .quienesSomos__nombre {
            align-self: center;
            font-weight: 600;
            color: $color__oscuro__1;
        }
    }
}

.container__servicios {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    flex-wrap: wrap;

    .container__servicios__descripcion {
        display: flex;
        flex-direction: column;
        color: $color__oscuro__1;
        width: 80%;
        align-items: center;
        padding: 10px;
        flex-wrap: wrap;

        & p {
            margin-top: 20px;
            font-size: 1rem;
        }

        .container__servicios__titulo {
            font-weight: 700;
        }
    }

    .container__servicios__foto {
        max-width: 400px;
        max-height: 200px;
        margin-bottom: 20px;
        padding-top: 20px;
    }
}

.container__serviciosVerde {
    @extend .container__servicios;
    background-color: $color__verde__4;

    .container__servicios__descripcion {
        display: flex;
        flex-direction: column;
        color: $color__oscuro__1;
        width: 80%;
        align-items: center;
        padding: 10px;
        flex-wrap: wrap;

        & p {
            margin-top: 20px;
            font-size: 1rem;
        }

        .container__servicios__titulo {
            font-weight: 700;
        }
    }

    .container__servicios__foto {
        max-width: 400px;
        max-height: 200px;
        margin-bottom: 20px;
        padding-top: 20px;
    }
}

